<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body bgcolor="RED" style="text-align: center">
    <b>Welcome to my new website.</b>
    <p>It is under constraction, so wait and see after 1 hr.</p>
    <p>Best of luck.</p>

    <br />

    <table border="1" cellpadding="10">
      <tr>
        <td>Name</td>
        <td>Phone number</td>
      </tr>
      {% for d in prople_details%}
      <tr>
        <td>{{d.name}}</td>
        <td>{{d.phone}}</td>
      </tr>
      {% endfor%}
    </table>
  </body>
</html>
